.banner {
  margin: 40px 0 40px 0;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 6px 6px 7px 4px rgba(157,152,152,0.5);
  -webkit-box-shadow: 6px 6px 7px 4px rgba(157,152,152,0.5);
  -moz-box-shadow: 6px 6px 7px 4px rgba(157,152,152,0.5);
}


.bannerImg {
  width: 100%;
  height: 100%;
  background-color: pink;
  object-fit: cover;
}