.primaryText {
  color: var(--color-quaternary);
  font-size: 1.5rem;
}

.secondaryText {
  color: var(--color-quaternary);
  font-size: 1rem;
}

.terciaryText {
  color: var(--color-quaternary);
  font-size: .8rem;
}

.icon {
  color: var(--color-quaternary);
}

.card {
  width: 250px;
  height: 350px;
  margin: 20px;
  text-align: left;
  padding: 0px;
}

.container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.productsContainer {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
}

